//<ШРИФТЫ>===============================================================================================================

//<Подключаем шрифты>====================================================================================================
//&display=swap&subset=cyrillic-ext

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&family=Inter:wght@500;600&display=swap&subset=cyrillic-ext');
//<Подключаем шрифты>====================================================================================================
$fontfamily: "Raleway";
$subfamily: "Inter";
//<Иконочные шрифты>=====================================================================================================
//@import "icons.scss";
//<Иконочные шрифты>=====================================================================================================

//<Шрифт по умолчанию>===================================================================================================

//<Шрифт по умолчанию>===================================================================================================

//<ШРИФТЫ>===============================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$maxWidth: 1440;
$minwidth: 320px;
$mw: 1240;
$md1: $mw + 80;
$md2: 1099.98;
$md3: 767.98;
$md4: 479.98;
//color
$black: #13151a;
$blue: #0459e0;
//<ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===========================================================================================
@import "null.scss";
body {
	color: $black;
	font-size: 16px;
}
//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===========================================================================================

//<ОБОЛОЧКА>=============================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
//<ОБОЛОЧКА>=============================================================================================================

//<ОСНОВНАЯ СЕТКА>=======================================================================================================
._container {
	max-width: $mw + px;
	margin: 0 auto;
	width: 100%;
	padding: 0 20px;
}
//<ОСНОВНАЯ СЕТКА>========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>=========================================================================
@import "header.scss";
@import "footer.scss";
@import "ui.scss";
//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>=========================================================================

//<ОСНОВНОЙ БЛОК>=========================================================================================================
.page {
	flex: 1 1 auto;
}
//========================================================================================================================

//========================================================================================================================
.services {
	padding-top: clamp(30px, 5vw, 70px);
	padding-bottom: clamp(30px, 5vw, 70px);
	&__container {
	}

	&__top {
	}

	&__columns {
	}
}

.columns-services {
	display: grid;
	gap: 15px;
	grid-template: 1fr / repeat(auto-fit, minmax(280px, 1fr));
	&__column {
		border-radius: 8px;
		box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.1);
		padding: 15px 15px 20px 15px;
		& > *:not(:last-child) {
			margin-bottom: 5px;
		}
	}

	&__img {
		position: relative;
		padding: 0px 0px 69.5% 0px;
		img {
			@extend %ps-img;
			border-radius: 8px;
		}
	}

	&__sub-title {
		font-size: clamp(16px, 5vw, 18px);
		font-weight: 600;
		line-height: calc(30px / 18px * 100%);
	}

	&__text {
		font-size: clamp(14px, 5vw, 16px);
		line-height: calc(28px / 16px * 100%);
	}
}
//========================================================================================================================
.how-work {
	padding-top: clamp(30px, 5vw, 70px);
	padding-bottom: clamp(30px, 5vw, 70px);
	background-color: #e8efff;
	&__container {
	}

	&__title {
		padding-bottom: clamp(20px, 5vw, 40px);
	}

	&__box {
		display: grid;
		grid-template: repeat(2, 1fr) / repeat(3, 1fr);
		gap: 30px;
		@media (max-width:$md2+px){
			grid-template: repeat(6, auto) / repeat(1, 1fr);
		}
	}

	&__item {
		border-radius: 20px;
		box-shadow: 0px 0px 0px 1px rgba(8, 60, 130, 0.06);
		background: #fff;

		padding: 30px clamp(20px, 5vw, 30px);
	}

	&__top {
		display: flex;
		align-items: center;
		margin-bottom: clamp(10px, 2vw, 15px);
	}

	&__num {
		color: $blue;
		font-size: 28px;
		font-weight: 600;

		padding: 16px 23px;
		border-radius: 16px;
		background: #b7d6ff;
		margin-right: 10px;
	}

	&__sub-title {
		color: #343f52;
	}

	&__text {
		color: #343f52;
		font-weight: 500;
		line-height: calc(25px / 17px * 100%);
	}
}
//========================================================================================================================

//========================================================================================================================
.about {

	&__container {
		display: flex;
		gap: 60px;
	}

	&__content {
		flex: 0 1 40%;
		& > *:not(:last-child) {
			margin-bottom: 20px;
		}
		@media (max-width:$md2+px){
			flex: 0 1 58%;
		}
		@media (max-width:$md3+px){
			flex: 1 1 auto;
		}
	}

	&__title {
	}

	&__text {
		font-size: 18px;
		line-height: calc(36px / 18px * 100%);
		p {
			span {
				color: $blue;
			}
		}
	}

	&__btn {
	}

	&__img {
		flex: 0 1 60%;
		position: relative;
		img {
			@extend %ps-img;
		}
		@media (max-width:$md2+px){
			flex: 0 1 42%;
		}
		@media (max-width:$md3+px){
			display: none;
		}
	}
}
//========================================================================================================================

//========================================================================================================================

//========================================================================================================================

//</ОСНОВНОЙ БЛОК>========================================================================================================
