// Переменные
$fontFamily: 'Raleway', sans-serif;
$fontSub: 'Inter';

$maxWidth: 1920;
$minWidth: 360px;
$mw: 1240;
$md1: $mw + 20;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

//Color
$main-color: #13151a;
$blue: #0459e0;
