// Обнуление и Переменные
@use 'abstracts' as *;
//---------------------------------------------------------------------------

// Подключение файлов стилей страниц и элементов
@use 'layout';
@use 'page';
//---------------------------------------------------------------------------
// Шрифты
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&family=Inter:wght@500;600&display=swap&subset=cyrillic-ext');
//---------------------------------------------------------------------------

//Общие параметры
body {
	font-size: 16px;
	color: $main-color;
	&.menu-open {
		overflow: hidden;
	}
	&.lock {
		overflow: hidden;
	}
}
//---------------------------------------------------------------------------

// Оболочка
.wrapper {
	width: 100vw;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.page {
	flex: 1 1 auto;
}
//---------------------------------------------------------------------------

// Основная сетка
._container {
	max-width: $mw + px;
	margin: 0 auto;
	padding: 0 20px;
}
//---------------------------------------------------------------------------

// Основная страница
.main-block {
	margin: 20px 0px 0px 0px;
	&__container {
	}

	&__block {
		padding: 80px 0px 80px 40px;
		background: url('@img/main-block/bg.jpg') center 85% / cover no-repeat;
		color: #fff;
		border-radius: 16px;
		@media (max-width: $md3+px) {
			padding: 80px 15px;
		}
		@media (max-width: $md4+px) {
			padding: 15px;
		}
		@media (min-width: $md4+px) {
			position: relative;
			overflow: hidden;
			&::after {
				content: '';
				position: absolute;
				width: 700px;
				height: 100%;
				top: 0;
				left: 0;
				background: rgba(4, 89, 224, 0.9);
				-webkit-clip-path: polygon(0 0, 55% 0%, 95% 100%, 0% 100%);
				clip-path: polygon(0 0, 55% 0%, 95% 100%, 0% 100%);
			}
		}
		@media (max-width: $md3+px) {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
		}
	}

	&__content {
		position: relative;
		z-index: 4;
		max-width: 390px;
		> *:not(:last-child) {
			margin-bottom: 20px;
		}
		@media (max-width: $md4+px) {
			background-color: $blue;
			padding: 30px 20px;
			border-radius: 16px;
			opacity: 0.9;
		}
	}

	&__title {
		font-family: $fontSub;
		font-size: clamp(20px, 5vw, 28px);
		font-weight: 500;
		line-height: calc(40px / 28px * 100%);
	}

	&__text {
		font-size: clamp(16px, 5vw, 18px);
		line-height: calc(30px / 18px * 100%);
	}

	&__btn {
		display: inline-block;
		padding: 12px 40px;
		border-radius: 16px;
		box-shadow: 0px 0px 6px 0px rgba(0, 102, 255, 0.25);
		background: #ffffff;

		color: $blue;
		font-size: 16px;
		font-weight: 600;
		text-align: center;
		transition: all 0.3s ease;

		@media (any-hover: hover) {
			&:hover {
				box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
				color: #13151a;
			}
		}
	}
}
//---------------------------------------------------------------------------
.our-services {
	padding-top: clamp(30px, 10vw, 70px);
	padding-bottom: clamp(30px, 10vw, 70px);
	&__container {
	}

	&__top {
	}

	&__block {
	}
}
.block-services {
	display: grid;
	grid-template-rows: repeat(1, 1fr);
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 15px;
	&__item {
		border-radius: 8px;
		box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.1);
		padding: 15px 15px 20px 15px;
		> *:not(:last-child) {
			margin-bottom: 5px;
		}

		display: flex;
		flex-direction: column;
		min-height: 100%;
	}

	&__img {
		position: relative;
		padding-bottom: 71%;
		img {
			border-radius: 8px;
			@include img;
		}
	}

	&__title {
		font-size: clamp(16px, 5vw, 18px);
		font-weight: 600;
		line-height: calc(30px / 18px * 100%);
		@media (min-width: 550px) {
			height: 60px;
			overflow: hidden;
		}
	}

	&__text {
		font-size: clamp(14px, 5vw, 16px);
		line-height: calc(28px / 16px * 100%);
		flex: 1 1 auto;
	}
}
//---------------------------------------------------------------------------
.work {
	background-color: #e8efff;
	padding-top: clamp(30px, 10vw, 70px);
	padding-bottom: clamp(30px, 10vw, 70px);
	&__container {
	}

	&__block {
	}

	&__title {
		@include title;
		margin-bottom: clamp(20px, 5vw, 40px);
	}

	&__cells {
	}
}
.cells-work {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	gap: 30px;

	&__box {
		border-radius: 20px;
		box-shadow: 0px 0px 0px 1px rgba(8, 60, 130, 0.06);
		background: #fff;
		padding: 30px;
	}

	&__value {
		display: flex;
		align-items: center;
		gap: 10px;
		font-weight: 600;
		margin-bottom: clamp(10px, 10vw, 15px);
	}

	&__num {
		border-radius: 16px;
		background: #b7d6ff;
		padding: 16px 23px;

		color: $blue;
		font-size: 28px;
	}

	&__title {
		color: #343f52;
		font-size: clamp(20px, 5vw, 24px);
		line-height: calc(30px / 24px * 100%);
	}

	&__text {
		font-weight: 500;
		line-height: calc(28px / 16px * 100%);
	}
}
//---------------------------------------------------------------------------
.projects {
	padding-top: clamp(50px, 10vw, 70px);
	&__colums {
		display: grid;
		gap: 30px;
		grid-template: 1fr / 1.16fr 1.6fr 1.8fr;

		@media (max-width: 1000px) {
			overflow-x: auto;
			-webkit-overflow-scrolling: touch;
			grid-template: 1fr / repeat(3, 320px);
			margin-right: -20px;
		}

		@media (max-width: 767.98px) {
			grid-template: 1fr / repeat(3, 290px);
		}
	}

	&__column {
	}

	.item-projects {
		height: 100%;
		display: grid;
		grid-template: auto 1fr / 1fr;
		gap: 20px;
		&__img {
			position: relative;
			padding: 0px 0px 420px 0px;
			img {
				@include img;
			}
		}

		&__content {
			padding-left: 14px;
			border-left: 4px solid #0459e0;
		}

		&__title {
			margin: 0px 0px 10px 0px;
			color: #13151a;
			font-size: 20px;
			font-weight: 600;
		}

		&__text {
			color: #5a5a5a;
			font-size: 16px;
		}
	}
}

//---------------------------------------------------------------------------
.about {
	padding-top: clamp(50px, 10vw, 120px);
	&__container {
	}

	&__body {
		display: flex;
		gap: 60px;
	}

	&__content {
		flex: 0 1 35%;
		@media (max-width: $md3+px) {
			flex: 1 1 auto;
		}
	}

	&__title {
		@include title;
		margin-bottom: 20px;
	}

	&__text {
		font-size: 18px;
		line-height: calc(36px / 18px * 100%);
		margin-bottom: 20px;
		span {
			font-weight: 500;
			color: $blue;
		}
	}

	&__btn {
		@include btn;
		@media (max-width: $md4+px) {
			width: 100%;
		}
	}

	&__img {
		flex: 0 1 60%;
		position: relative;
		img {
			@include img;
		}
		@media (max-width: $md3+px) {
			display: none;
		}
	}
}
//---------------------------------------------------------------------------
